{% extends 'base.html' %}
{% load static %}
{% load pwa %}
{% block title %} <title>Productos</title> {% endblock %}
{% block content %}
<style>
    /* Estilo para ocultar los botones de incremento y decremento en Chrome, Safari y Edge */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Estilo para ocultar los botones de incremento y decremento en Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<section class="products">
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Productos a vender</h1>
        <div class="card" style="margin-bottom: 20px;">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="product" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="product" name="product">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="price" name="price">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Registrar producto</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}